@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: radial-gradient(circle at center, #0b0b0f, #020205 80%);
  background-size: 200% 200%;
  background: radial-gradient(circle at center, #0b0b0f, #020205 80%);
  background-size: 100% 100%;
  overflow: hidden;
  color: white;
}